 
<div class="card bg-dark-subtle w-50">
    <div class="card-body">
      <h5 class="card-title">Location : {{weather_data.location.name}}</h5>
      <p class="card-text">Region: {{weather_data.location.region}}</p>
      <p class="card-text">Country: {{weather_data.location.country}}</p>
      <p class="card-text">Temperature: {{ weather_data.current.temp_c}} C | {{ weather_data.current.temp_f}} F</p>
      <p class="card-text">Humidity: {{ weather_data.current.humidity}}</p>
    </div>
  </div>

   